{% extends "layout.html" %}
{% block content %}

    {% for diagnosis in diagnosises %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='diagnosis_pics/' + diagnosis.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Doctor: {{ diagnosis.doctor.surname }} {{ diagnosis.doctor.name }}</a>
              <a class="mr-2" href="#">Patient: {{ diagnosis.patient.surname }} {{ diagnosis.patient.name }}</a>
              <a class="mr-2" href="#">Date posted: {{ diagnosis.date_posted.strftime("%m/%d/%Y") }} </a>
            </div>
            <h2><a class="article-title" href="{{ url_for('diagnosis', diagnosis_id=diagnosis.id) }}">{{ diagnosis.status }}</a></h2>
            <p class="article-content">{{ diagnosis.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}